<div class="container_big-card">

    <div class="big-card_img">
        <img src="https://i.blogs.es/2f39ac/ironman/450_1000.jpg" alt="" height="230px">
    </div>

    <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card_description">
        <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, vel alias ipsum cumque dolorum ut sapiente mollitia eos unde delectus totam voluptatibus labore nobis eveniet tempora illo sint dignissimos quasi.</a></p>
    </div>

</div>
